.country {
  // background-color: red;
  max-width: 1290px;
  color: var(--text);

  margin-inline: 28px;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--shadow);
    border: none;
    background-color: var(--header);
    color: var(--text);
    cursor: pointer;

    width: 110px;
    height: 36px;
  }

  &__info {
    margin-top: 64px;
    &-img {
      width: 100%;
      // height: 229px;

      img {
        width: 100%;
        // object-fit: cover;
      }
    }

    &-title {
      margin-top: 51px;
      font-size: 30px;
      font-weight: 800;
      font-weight: 800;
    }

    &-border {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin-top: 24px;

      &-card {
        box-shadow: var(--shadow);
        background-color: var(--header);

        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 96px;
      }
    }

    &__container {
      &-second {
        margin-top: 51px;
      }
    }
  }

  span {
    font-weight: 600;
  }
}

.xd {
  margin-top: 16px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.bo {
  margin-top: 51px;
}

@media (min-width: 1024px) {
  .country {
    margin-inline: auto;
    &__info {
      display: flex;
      gap: 30px;

      &-img {
        height: unset;
        width: 50%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &-right {
        flex: 1;
      }

      &-title {
        margin-top: 0;
      }

      &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        %-first {
          width: 50%;
        }

        &-second {
          margin-top: 0;
          margin-right: 20px;
          width: 50%;
        }
      }
    }
  }
}
