.home {
  margin-inline: 20px;
  max-width: 1280px;
  margin-inline: auto;
  &__countries {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    margin-top: 40px;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .home {
    &__input {
      display: flex;
      justify-content: space-between;
    }

    &__countries {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1024px) {
  .home {
    &__countries {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
