.card {
  //   width: 100%;
  max-width: 328px;
  box-shadow: var(--shadow);
  border-radius: 6px;
  margin-inline: auto;
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }

  &__body {
    margin-top: 42px;
    padding-inline: 32px;
    margin-bottom: 61px;

    &-population {
      margin-top: 32px;
    }

    &-region {
      margin-block: 16px;
    }

    span {
      font-weight: 600;
    }
  }
}
