:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%); // dark mode bg
  --very-db: hsl(200, 15%, 8%); //light mode text;
  --dark-gray: hsl(0, 0%, 52%); // light mode input
  --very-light-gray: hsl(0, 0%, 98%); // light mode background
  --white: hsl(0, 0%, 100%); // darkmode text light mode elemenets
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: var(--very-light-gray);
}
