:root {
  --background: hsl(0, 0%, 98%);
  --header: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --text: hsl(200, 15%, 8%);
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --white: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --input: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
  --header: hsl(209, 23%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: var(--background);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
